################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Atividades/EFTest/.vs/EFTest/FileContentIndex/05ae0db0-0e66-42f3-84cf-4fe43d1047f0.vsidx
/Atividades/EFTest/.vs/EFTest/FileContentIndex/0763e0ec-dfa7-4419-8827-7984feb15422.vsidx
/Atividades/EFTest/.vs/EFTest/FileContentIndex/6713baf8-26d2-4264-bee5-6e16dcdc1026.vsidx
